@mixin clearEl {
  &:after {
      content: '';
      display: block;
      clear: both;
    }
}

@mixin font {
  font: {
    family: 'Arimo', sans-serif;
    weight: 400;
  }
}

@mixin font-bold {
  font: {
    family: 'Arimo', sans-serif;
    weight: 700;
  }
}

@mixin font-logo {
  font-family: 'Baumans', serif;
}

$green: #008000;
$darkGreen: #005900;
$ivory: rgba(255, 255, 255, 0.65);
$ivory2: rgba(246,246,246, 1);