@mixin clearEl {
  &:after {
      content: '';
      display: block;
      clear: both;
    }
}

@mixin font {
  font: {
    family: 'Arimo', sans-serif;
    weight: 400;
  }
}

@mixin font-bold {
  font: {
    family: 'Arimo', sans-serif;
    weight: 700;
  }
}

@mixin font-logo {
  font-family: 'Baumans', serif;
}

$maroon: #800000;
$darkMaroon: #4D0000;
$grey: rgba(246,246,246, 1);