@import 'mixins';

/* Default styles */
* {
  box-sizing:border-box;
}
html {
  height: 100%;
}
a, a img {
  transition: 0.3s;
}
a:hover img {
  opacity: 0.8;
}

img {
  max-width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.25;
  @include font;
  color: black;
  height: 100%;
}

h1, h2, h3, h4 {
  margin: 0 0 1.25rem;
  font-weight: 100;
  line-height: 1;
}
p {
  margin: 0 0 1.25rem;
}
h1 { font-size: 2.8rem; }
h2 { font-size: 1.875rem; }

form p {
  position: relative;
}
label {
  display: block;
  margin-bottom: 0.625rem;
  color: #666;
  font-weight: 100;
  vertical-align: top;
}
label em {
  color: #ac6f66;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 0.3125rem;
  padding: 0.625rem;
  border: 1px solid #ccc;

  -webkit-transition: 0.3s;
          transition: 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 0.625rem rgba(172, 111, 102, 0.5);
}
textarea {
  height: 10rem;
  resize: vertical;
}

// Generic page styles
.page-wrap {
  width: 95%;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -70px; 
  &:after {
    content: "";
    display: block;
    height: 80px; 
  }
  a {
    color: $green;
    text-decoration: none;
    &:hover {
      color: $darkGreen;
    }
  }
}
.site-header {
  padding: 40px 0 20px;
  border-bottom: 3px solid $green;
  margin-bottom: 50px;
  @include font-logo;
  font-size: 2rem;  
  a {
    color: black;
    -webkit-animation: fadeInDown .8s;
    animation: fadeInDown .8s;
  }
}

.site-content {
  @include clearEl;
  width: 80%;
  margin: 0 auto 20px;
}

.site-content.homepage {
  width: 90%;
}
.menu {
  font-size: 1.2rem;
}
//Top nav
.top-nav {
    position: absolute;
    top: 50px;
    left: 310px;
  ul {
    padding: 0 0 0 100px;
    margin: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 0 20px 0;
      transition: padding-bottom 1s;
      border-right: 1px solid $green;
      &:last-child {
        border: none;
      }
      // Float shadow hover effect
      a {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      // a:before {
      //   pointer-events: none;
      //   position: absolute;
      //   z-index: -1;
      //   content: '';
      //   top: 100%;
      //   left: 5%;
      //   height: 10px;
      //   width: 90%;
      //   opacity: 0;
      //   background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      //   background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      //   -webkit-transition-duration: 0.3s;
      //   transition-duration: 0.3s;
      //   -webkit-transition-property: transform, opacity;
      //   transition-property: transform, opacity;
      // }
      a:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }

      // a:hover:before {
      //   opacity: 1;
      //   -webkit-transform: translateY(5px);
      //   transform: translateY(5px);
      // }

      // Underline hover effect
      // a {
      //   display: inline-block;
      //   vertical-align: middle;
      //   -webkit-transform: translateZ(0);
      //   transform: translateZ(0);
      //   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      //   -webkit-backface-visibility: hidden;
      //   backface-visibility: hidden;
      //   -moz-osx-font-smoothing: grayscale;
      //   position: relative;
      //   overflow: hidden;
      // }
      // a:before {
      //   content: "";
      //       position: absolute;
      //       z-index: -1;
      //       left: 50%;
      //       right: 50%;
      //       bottom: 0;
      //       background: #2098d1;
      //       height: 4px;
      //       -webkit-transition-property: left, right;
      //       transition-property: left, right;
      //       -webkit-transition-duration: 0.3s;
      //       transition-duration: 0.3s;
      //       -webkit-transition-timing-function: ease-out;
      //       transition-timing-function: ease-out;
      // }

      // a:hover:before {
      //   left: 0;
      //   right: 0;
      // }
    }
  }
}

// Hompeage styling
.sidebar-nav {
  width: 38%;
  float: left;
  margin-top: 100px;
  li {
    text-decoration: none;
    list-style: none;
    margin: 10px 0;
    @include font-bold;
  }
}

.home-page {
  width: 52%;
  float: left;
  margin-left: 10%;
}

.blog-posts {
  width: 80%;
  .post {
    margin-bottom: 40px;
  }
}
.post-header {
  h1 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }
}

.pagination {
  margin-top: 40px;
  margin-left: 44%;
  margin-bottom: 40px;
  font-size: 1.2rem;
}

// Single post styling
.single-post-categories {
  width: 23%;
  float: right;
  margin-top: 50px;
  margin-left: 20px;
  background-color: #fafafa;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(23,64,56,1);
  -moz-box-shadow: 7px 7px 7px -5px rgba(23,64,56,1);
  box-shadow: 7px 7px 7px -5px rgba(23,64,56,1);
  h4 {
    margin: 0 0 0.5rem;
  }
}

.single-post-content {
  width: 70%;
  float: left;
}

.post-categories {
  list-style-type: disc;
  padding: 0;
  padding-left: 15px;
}

.next-previous-link {
  @include clearEl;
  margin-top: 40px;
  p {
    font-size: 1.1rem;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
    margin-top: 6px;
  }
}

.site-archive-title {
  margin-bottom: 40px;
}


// Footer
.site-footer {
  height: 70px; 
  p {
    width: 277px;
    margin: 20px auto 0;
    border-top: 1px solid grey;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

  }
}

@media only screen and (max-width: 960px) {
.top-nav {
    left: 210px;
  }
}

@media only screen and (min-width: 1280px) {
.page-wrap {
    width: 1215px;
  }
.top-nav {
    left: 450px;
  }
}


// Keyframe animations

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 